/* font-face */
@font-face {
  font-family: 'Lato-Black';
  font-style: normal;
  font-weight: 900;
  src: url(../font/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato-Black';
  font-style: normal;
  font-weight: 900;
  src: url(../font/Lato/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato-BoldItalic';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Lato/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: 'Lato-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Italic';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Lato/Lato-Italic.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-LightItalic';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Lato/Lato-LightItalic.ttf);
}

@font-face {
  font-family: 'Lato-Thin';
  font-style: normal;
  font-weight: 100;
  src: url(../font/Lato/Lato-Thin.ttf);
}

@font-face {
  font-family: 'Lato-ThinItalic';
  font-style: normal;
  font-weight: 100;
  src: url(../font/Lato/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: 'Ubuntu-BoldItalic';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Ubuntu/Ubuntu-BoldItalic.ttf);
}

@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../font/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: 'Ubuntu-MediumItalic';
  font-style: normal;
  font-weight: 500;
  src: url(../font/Ubuntu/Ubuntu-MediumItalic.ttf);
}

@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'Ubuntu-Italic';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Ubuntu/Ubuntu-Italic.ttf);
}

@font-face {
  font-family: 'Ubuntu-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
  font-family: 'Ubuntu-LightItalic';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Ubuntu/Ubuntu-LightItalic.ttf);
}

@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: 'Ubuntu-BoldItalic';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Ubuntu/Ubuntu-BoldItalic.ttf);
}

@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../font/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: 'Ubuntu-MediumItalic';
  font-style: normal;
  font-weight: 500;
  src: url(../font/Ubuntu/Ubuntu-MediumItalic.ttf);
}

@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'Ubuntu-Italic';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Ubuntu/Ubuntu-Italic.ttf);
}

@font-face {
  font-family: 'Ubuntu-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
  font-family: 'Ubuntu-LightItalic';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Ubuntu/Ubuntu-LightItalic.ttf);
}

/* font */
body {
  font-family: 'Lato-Regular';
}
h1, h2 {
  font-family: 'Ubuntu';
  font-weight: bold;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}

a:hover {
  cursor: pointer;
}

.yale {
  color: #0c6290;
}

/**/
.header {
  height: 80px;
}
.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}
.content {
  /*border: 1px solid lightseagreen;*/
  position: relative;
  top: 80px;
  left: 180px;
  /*height: calc(100% - 160px);*/
  width: calc(100% - 180px);
  min-width: 1020px;
  overflow-y: auto;
  padding: 20px 60px 80px;
}
.kitkit-modal-footer {
  min-width: 0;
  background-color: #fff;
  border: none;
  height: auto;
  padding: 0 30px 32px;
}
.kitkit-modal-footer .btn {
  width: 250px;
  height: 60px;
  margin: 0;
}
.kitkit-modal-footer .btn:first-child {
  margin-right: 10px;
}

/* ag-grid scroll bar */
.ag-root ::-webkit-scrollbar {
  height: 16px;
}
.ag-root ::-webkit-scrollbar-button {
  display: none;
}
.ag-root ::-webkit-scrollbar-track-piece {
  height: 20px;
  border: solid 1px #e8e8e8;
  background-color: #fafafa;
}
.ag-root ::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 8px;
}
/* // ag-grid scroll bar */

/* datepicker */
.input-group.date.vdp-datepicker {

}
.input-group.date.vdp-datepicker > div:first-child {
  width: 100%;
}
.btn-calendar {
  color: #c2c2c2;
  background: #fff;
}
.btn-calendar:hover {
  color: #c2c2c2;
}
.btn-calendar:active {
  border: 1px solid #666;
}

.input-group.date.vdp-datepicker .form-control[readonly] {
  background: #fff;
}

.vdp-datepicker__calendar {
  width: 330px;
  top: 64px;
}

.vdp-datepicker__calendar::before {
  content: "";
  position: absolute;
  bottom: 100%;
  top: auto;
  left: 36px;
  right: auto;
  margin-left: -10px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #ccc transparent;
}

.vdp-datepicker__calendar::after {
  content: "";
  position: absolute;
  bottom: 100%;
  top: auto;
  left: 36px;
  right: auto;
  margin-left: -9px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.vdp-datepicker__calendar header {
  height: 50px;
  line-height: 40px;
  padding: 13.5px 0 3.5px;
}
.vdp-datepicker__calendar header span {
  font-size: 19px;
  height: 28px;
}
.vdp-datepicker__calendar .cell.day-header {
  font-size: 16px;
}
.vdp-datepicker__calendar .cell.day {
  font-size: 17px;
  color: #333;
}
.vdp-datepicker__calendar .cell.month {
  font-size: 75%;
}
/* // datepicker */
